html
    include includes/head.pug
    body
        include includes/header.pug
        .container
            h1.bd-title NodeJs es un entorno en tiempo de ejecucion
        include includes/footer.pug