<mat-card>
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
       
        <div>Icons made by <a href="https://www.flaticon.es/autores/made-by-made" title="Made by Made">Made by Made</a>
          from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.com</a> is licensed by <a
            href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
            BY</a></div>
        1
      </div>
      <div class="swiper-slide">

        2
      </div>
      <div class="swiper-slide">

        3
      </div>

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
</mat-card>