nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
a.navbar-brand(href='#') Navbar
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar'
)
span.navbar-toggler-icon
#navbarNav.collapse.navbar-collapse
    ul.navbar-nav
        li.nav-item
            a.nav-link(href='/') home
        li.nav-item
            a.nav-link(href='/temario') Temario

main(role='main')
    .jumbotron
        .container
            h1.display-3 NodeJs
            p Curso NodeJs Practica
