<!--The content below is only a placeholder and can be replaced.-->
<!--
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My App</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
   
  </mat-toolbar-row>


  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
  -->
<div>
  <a href="#" (click)="logout()">logout</a>
  <h1>
    Bienvenidos al tutorial se componentes 
  </h1>
  <img width="300" src="data:">
</div>
<router-outlet></router-outlet>
